{% extends 'layouts/base.html' %} 

{% block content %} 
    {% load static %}
    <section class = "banner">
        <div class = "banner-main-content">
            <h2>Eng songi va yangi maqolalarni shu saytdan toping</h2>
            <h3>Maqolalar sayti</h3>

            <button>
                <a href = "#">Ko'proq ma'lumot</a>
            </button>

            <div class = "current-news-head">
                <h3>Apple Glasses: What we expect, what we think we are <span>by scott stein</span></h3>

                <h3>What's it's like to have Elon Musk's old phone number <span>by abrar al-heeti</span></h3>

                <h3>Watch the exact moment Chris Pratt accidentally deletes 51, 000 emials <span>by goel fashingbauer</span></h3>

                <h3>Richard Branson's Virgin Orbit will launch a rocket from midair Sunday <span>by eric mack</span></h3>
            </div>
        </div>

        <div class = "banner-sub-content">
            {% for i in news %} 
            <div class = "hot-topic">
                <img src = "{{ i.image.url }}" alt = "">

                <div class = "hot-topic-content">
                    <h2>{{ i.title }}</h2>

                    <h3>New Topic 1</h3>
                    <p>{{ i.description }}</p>
                    <a href = "#">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <hr>

    <main>
        <section class = "main-container-left">
            <h2>Top Stories</h2>
            <div class = "container-top-left">
                <article>
                    <img src = "{{ top_story.image.url }}">

                    <div>
                        <h3>{{ top_story.title }}</h3>

                        <p>{{ top_story.description }}</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                </article>
            </div>

            <div class = "container-bottom-left">
                {% for top_story in top_stories %}
                <article>
                    <img height="200" src = "{{ top_story.image.url }}">
                    <div>
                        <h3>{{ top_story.title }}</h3>
                        <p>{{ top_story.description }}</p>

                        <a href = "#">Read More <span>>></span></a>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>

        <section class = "main-container-right">
            <h2>Latest Stories</h2>
            
            {% for latest in latest_stories %} 
            <article>
                <h4>just in </h4>
                <div>
                    <h2>{{ latest.title }}</h2>

                    <p>{{ latest.description }}</p>

                    <a href = "#">Read More <span>>></span></a>
                </div>
                <img src = "{{ latest.image.url }}">
            </article>
            {% endfor %}
        </section>
    </main>
{% endblock content %}